# IDEs and editors
.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
__debug_bin
.vscode
.history

# Build system
_site
node_modules
test-results/
playwright-report/
blob-report/
playwright/.cache/
