(static) {
	file_server
	templates
}

:2015 {
	# Redirects to external sites
	redir /bluesky https://bsky.app/profile/m0b1.dev
	redir /discord https://discordapp.com/users/143888967253622784
	redir /twitter https://twitter.com/hi_im_mobi
	redir /vrchat https://vrchat.com/home/user/usr_9da6843d-5203-474b-be08-d723ade92e19

	# Redirects for Git projects
	route /git* {
		uri strip_prefix /git
		redir https://github.com/m0b1d3v{uri}
	}

	# File serving
	root * ./src/main/webapp
	try_files {path} {path}.html {path}/index.html
	import static

	# Invalid requests
	handle_errors {
		rewrite * /404.html
		import static
	}
}
