---
layout: layout.html
permalink: photos/2023-08-01-pshq
thumbnail: https://cdn.m0b1.dev/vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-16-06.079_1920x1080.jpg
title: m0b1/photos/2023-08-01-pshq
---

<div>

	<h1>
		2023-08-01 - PSHQ
	</h1>

	<a href="/photos">&lArr; Go back</a>

</div>

<hr>

<div id="coffeePHRESH">

	<h2>
		<a href="#coffeePHRESH">#</a>
		<a href="https://twitter.com/CoffeePHRESH">
			CoffeePHRESH
		</a>
	</h2>

	{% include "cdn", loading: "eager", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-12-03.310_1920x1080.jpg" %}
	{% include "cdn", loading: "eager", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-07-02.477_1920x1080.jpg" %}
	{% include "cdn", loading: "eager", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-07-27.857_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-07-51.219_1920x1080.jpg" %}

</div>

<hr>

<div id="felix">

	<h2>
		<a href="#felix">#</a>
		<a href="https://twitter.com/_felixyung">
			Felix
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-53-13.307_1920x1080.jpg" %}

</div>

<hr>

<div id="iggi">

	<h2>
		<a href="#iggi">#</a>
		<a href="https://twitter.com/__iggi">
			Iggi
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-19-07.416_1920x1080.jpg" %}

</div>

<hr>

<div id="loveuniversal7">

	<h2>
		<a href="#loveuniversal7">#</a>
		<a href="https://twitter.com/LoveUniversal7">
			LoveUniversal7
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-44-15.871_1920x1080.jpg" %}

</div>

<hr>

<div id="m0b1">

	<h2>
		<a href="#m0b1">#</a>
		<a href="https://twitter.com/hi_im_mobi">
			m0b1
		</a>
	</h2>

	{% include "cdn", height: '1138', image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-27-19.104_1080x1920.jpg" %}

</div>


<div id="softlysteph">

	<h2>
		<a href="#softlysteph">#</a>
		<a href="https://twitter.com/SoftlySteph">
			SoftlySteph
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-12-32.970_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-12-42.084_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-15-01.682_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-10-01.324_1920x1080.jpg" %}

</div>

<hr>

<div id="thevmp">

	<h2>
		<a href="#thevmp">#</a>
		<a href="https://twitter.com/TheVmpVRC">
			TheVmp
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-22-14.512_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-22-18.337_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_22-22-50.446_1920x1080.jpg" %}

</div>

<hr>

<div id="yama">

	<h2>
		<a href="#yama">#</a>
		<a href="https://twitter.com/Yama_vr">
			Yama
		</a>
	</h2>

	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-16-12.332_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-16-06.079_1920x1080.jpg" %}
	{% include "cdn", image: "vrc/2023/08-01-pshq-f-moon/VRChat_2023-08-01_21-28-30.179_1920x1080.jpg" %}

</div>
