---
layout: layout.html
permalink: photos/2023-10-13-shuah
thumbnail: https://cdn.m0b1.dev/vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-19-36.029_2560x1440.jpg
title: m0b1/photos/2023-10-13-shuah
---

<div>

	<h1>
		2023-10-13 - DJ Set
	</h1>

	<a href="/photos">&lArr; Go back</a>

</div>

<hr>

<div id="shuah">

	<h2>
		<a href="#shuah">#</a>
		<a href="https://twitter.com/ShuahVR">Shuah</a>
	</h2>

	{% include "cdn", loading: "eager", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-19-36.029_2560x1440.jpg" %}
	{% include "cdn", loading: "eager", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-19-55.223_2560x1440.jpg" %}
	{% include "cdn", loading: "eager", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-05-39.838_2560x1440.jpg" %}
	{% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-19-08.037_2560x1440.jpg" %}
	{% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-25-00.301_2560x1440.jpg" %}
	{% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-28-24.149_2560x1440.jpg" %}
	{% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-24-28.534_2560x1440.jpg" %}
	{% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-10-32.797_2560x1440.jpg" %}
	<!-- {% include "cdn", image: "vrc/2023/10-13-shuah-house/VRChat_2023-10-14_00-26-22.888_2560x1440.jpg" %} -->

</div>
