---
layout: layout.html
permalink: photos/2023-11-05-myxx
thumbnail: https://cdn.m0b1.dev/vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-18-42.984_2560x1440.jpg
title: m0b1/photos/2023-11-05-myxx
---

<div>

	<h1>
		2023-11-05 - Photo Shoot
	</h1>

	<a href="/photos">&lArr; Go back</a>

</div>

<hr>

<div id="start">

	<h2>
		<a href="#start">#</a>
		<a href="https://links.myxx.haus/">Myxx</a>
		at
		<a href="https://vrclist.com/world/510388">Complex 7 by Fins</a>
	</h2>

	<div>
		<!-- Couch -->
		{% include "cdn", loading: "eager", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-29-18.170_2560x1440.jpg" %}
		{% include "cdn", loading: "eager", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-28-32.694_2560x1440.jpg" %}
		{% include "cdn", loading: "eager", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-24-13.956_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-24-33.865_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-22-57.764_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-23-44.604_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-24-48.382_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-25-31.043_2560x1440.jpg" %}
	</div>

	<div id="stairwell">

		<h2>
			<a href="#stairwell">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-31-00.638_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-31-24.349_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-31-59.261_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-32-28.343_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-32-50.769_2560x1440.jpg" %}
	</div>

	<div id="street">

		<h2>
			<a href="#street">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-38-56.090_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-39-35.765_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-39-48.164_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-40-01.196_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-40-55.231_2560x1440.jpg" %}
	</div>

	<div id="office">

		<h2>
			<a href="#office">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-48-33.411_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-49-54.463_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-49-37.506_2560x1440.jpg" %}
	</div>

	<div id="tunnels">

		<h2>
			<a href="#tunnels">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-08-12.889_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-10-13.237_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-53-29.507_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-54-06.778_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-59-50.449_2560x1440.jpg" %}
	</div>

	<div id="monsters">

		<h2>
			<a href="#monsters">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-52-49.607_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-03-23.717_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-03-33.797_2560x1440.jpg" %}
	</div>

	<div id="exit">

		<h2>
			<a href="#exit">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-50-40.389_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_17-50-48.682_2560x1440.jpg" %}
	</div>

	<div id="hot-dog">

		<h2>
			<a href="#hot-dog">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-15-41.489_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-15-49.238_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-16-27.547_2560x1440.jpg" %}
	</div>

	<div id="party">

		<h2>
			<a href="#party">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-18-02.833_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-17-32.432_2560x1440.jpg" %}
		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-17-47.491_2560x1440.jpg" %}
	</div>

	<div id="credits">

		<h2>
			<a href="#credits">#</a>
		</h2>

		{% include "cdn", image: "vrc/2023/11-05-myxx-complex-7/VRChat_2023-11-05_18-18-42.984_2560x1440.jpg" %}
	</div>

</div>
