---
description: Exploring another reality.
layout: layout.html
title: m0b1/photos
---

<div>

	<h1>
		Photos
	</h1>

	<a href="/">&lArr; Go back</a>

	<p>
		Thanks to all my friends, event organizers, and performers that make these possible.
		All links to Google Photos.
	</p>

</div>

<hr>

<ul>

	<li>
		2024
		<ul>
			{% include "album", date: "01-14", albumId: "BCqGsH1ULtcyvmrQ6", title: "Coffee Run" %}
			{% include "album", date: "01-13", albumId: "XcsVnLPoA938NRss6", title: "Redacted" %}
			{% include "album", date: "01-13", albumId: "cvBgdyP64VivowxV9", title: "Sinister Saturday" %}
			{% include "album", date: "01-13", albumId: "3sgnqGrNLyewrjKRA", title: "Reflections" %}
			{% include "album", date: "01-12", albumId: "KZpszhoSbg8hg5rM8", title: "Rift" %}
			{% include "album", date: "01-11", albumId: "1GFuHngU6hZhX3XWA", title: "OKGold's Birthday Party" %}
			{% include "album", date: "01-10", albumId: "wbbr4CvHh2x7wdzz5", title: "Chaos Rave Productions + Hypothetical" %}
			{% include "album", date: "01-07", albumId: "8QceZmH4rSsJqWdv8", title: "Myxx Photo Shoot" %}
			{% include "album", date: "01-06", albumId: "fDw2PH2AEcuUz8fa8", title: "Rizumu" %}
			{% include "album", date: "01-05", albumId: "ixVqSxZx3sgdc9Jc9", title: "PSHQ Boiler Room" %}
		</ul>
	</li>

	<li>
		2023
		<ul>
			{% include "album", date: "12-31", albumId: "w7Sczeik4Dx1gdwg6", title: "PSHQ New Year's Eve" %}
			{% include "album", date: "11-24", albumId: "zrfFFBqTW4HWDGMaA", title: "Jayden Rayes' Birthday Party" %}
			{% include "album", date: "11-08", albumId: "4YL27tFqqwFLS1J77", title: "OmegaSol Photo Shoot" %}
			{% include "album", date: "11-05", albumId: "KSXK4CZo49VSVRac9", title: "Myxx at Complex 7" %}
			{% include "album", date: "11-03", albumId: "sn4rijf3TJAr7XoL6", title: "Reflections" %}
		</ul>
	</li>

	<li>
		More to come, slowly rebuilding gallery ...
	</li>

</ul>
