---
description: Exploring another reality.
layout: layout.html
title: m0b1.dev/photos
---

<div>

	<h1>
		Photos
	</h1>

	<a href="/">&lArr; Go back</a>

	<p>
		Thanks to all my friends, event organizers, and performers that make these possible.
		All links to Google Photos.
	</p>

</div>

<hr>

<ul>

	<li>
		2024
		<ul>
			{% include "album", date: "01-27", albumId: "7b4eJmbNCqgCKGz16", title: "PillowTalk" %}
			{% include "album", date: "01-27", albumId: "YRpfytLj7hrQkJ5ZA", title: "RegenStorm at Mixify" %}
			{% include "album", date: "01-26", albumId: "MM14G68UnDHLtaedA", title: "Steph's Birthday Party" %}
			{% include "album", date: "01-24", albumId: "TPi7kaUNP51EaEva9", title: "PSHQ Motel" %}
			{% include "album", date: "01-24", albumId: "z1zLZjxmYEaxf1Xo7", title: "GearFest" %}
			{% include "album", date: "01-20", albumId: "b3sUXem7gnFFUbbt8", title: "Club Italia + The Four Foxes" %}
			{% include "album", date: "01-19", albumId: "rupJpuvDp5RFBfZD9", title: "Felix's Birthday Party" %}
			{% include "album", date: "01-19", albumId: "k3NFb1vpR6gL4dkL7", title: "Obsidian Garden" %}
			{% include "album", date: "01-19", albumId: "HwR5DmUQM9nSLJKs7", title: "Funiki Anniversary" %}
			{% include "album", date: "01-19", albumId: "TvxkiWWxR7kNJViS8", title: "Luxor" %}
			{% include "album", date: "01-14", albumId: "BCqGsH1ULtcyvmrQ6", title: "Coffee Run" %}
			{% include "album", date: "01-13", albumId: "XcsVnLPoA938NRss6", title: "Redacted" %}
			{% include "album", date: "01-13", albumId: "cvBgdyP64VivowxV9", title: "Sinister Saturday" %}
			{% include "album", date: "01-13", albumId: "3sgnqGrNLyewrjKRA", title: "Reflections" %}
			{% include "album", date: "01-12", albumId: "KZpszhoSbg8hg5rM8", title: "Rift" %}
			{% include "album", date: "01-11", albumId: "1GFuHngU6hZhX3XWA", title: "OKGold's Birthday Party" %}
			{% include "album", date: "01-10", albumId: "wbbr4CvHh2x7wdzz5", title: "Chaos Rave Productions + Hypothetical" %}
			{% include "album", date: "01-06", albumId: "fDw2PH2AEcuUz8fa8", title: "Rizumu" %}
			{% include "album", date: "01-05", albumId: "ixVqSxZx3sgdc9Jc9", title: "PSHQ Boiler Room" %}
		</ul>
	</li>

	<li>
		2023
		<ul>
			{% include "album", date: "12-31", albumId: "w7Sczeik4Dx1gdwg6", title: "PSHQ New Year's Eve" %}
			{% include "album", date: "11-24", albumId: "zrfFFBqTW4HWDGMaA", title: "Jayden Rayes' Birthday Party" %}
			{% include "album", date: "11-08", albumId: "4YL27tFqqwFLS1J77", title: "OmegaSol Photo Shoot" %}
			{% include "album", date: "11-03", albumId: "sn4rijf3TJAr7XoL6", title: "Reflections" %}
			{% include "album", date: "10-14", albumId: "RVkMS1m5Co2CEevr6", title: "Shuah at House" %}
			{% include "album", date: "10-13", albumId: "c4FwrXRXGJNamTnCA", title: "PSHQ Anniversary" %}
			{% include "album", date: "09-16", albumId: "ZjrvwXGQKgK7wmeCA", title: "PSHQ Dark Room" %}
			{% include "album", date: "08-18", albumId: "cvjZi5y3queZVzg66", title: "PSHQ Exit;Life" %}
		</ul>
	</li>

</ul>
