extends ../templates/layout

block content
	-
		const projects = {
		"BlueTooth class": {
			link: "https://bluetooth-class.mobiusk.com",
			text: `Helps build class codes for hcitool`,
		},
		"Twitch Time-Lapse": {
			link: "https://gitlab.com/mobius_k/twitch-time-lapse",
			text: `Joins together previous Twitch live-streams into a recap video`,
		},
		"Portfolio": {
			link: "https://mobiusk.com",
			text: `The website that you're reading right now`,
		},
		"Pomodoro": {
			link: "https://pomodoro.mobiusk.com",
			text: `Work interval manager utilizing timed periods of effort and rest`,
		},
		}

	each project, title in projects
		p
			a(href=project.link) #{title}
			span  !{project.text}
