extends /portfolio/templates/layout

block content

	p
		a(href="https://minecraft.mobiusk.com") MobiCraft
		| Community MineCraft server

	p
		a(href="https://mscloud.art") MsCloud Art
		| Commission platform for artist

	p
		a(href="https://bluetooth-class.mobiusk.com") BlueTooth Class
		| Helps build class codes for hcitool

	p
		a(href="https://pomodoro.mobiusk.com") Pomodoro
		| Work interval manager utilizing timed periods of effort and rest
