extends ../templates/layout

block content

	p Work
		span  Web-based GPS surveying and volumetric laser scanning tools

	p History
		span  Business travel websites and GPS device drivers

	p Degree
		span  Computer Engineering and Computer Science

	hr

	-
		const projects = {
		"MobiCraft": {
			link: "https://minecraft.mobiusk.com",
			text: `Community MineCraft server`,
		},
		"BlueTooth Class": {
			link: "https://bluetooth-class.mobiusk.com",
			text: `Helps build class codes for hcitool`,
		},
		"Twitch Time-Lapse": {
			link: "https://gitlab.com/mobius_k/twitch-time-lapse",
			text: `Joins together previous Twitch live-streams into a recap video`,
		},
		"Pomodoro": {
			link: "https://pomodoro.mobiusk.com",
			text: `Work interval manager utilizing timed periods of effort and rest`,
		},
		}

	each project, title in projects
		p
			a(href=project.link) #{title}
			span  !{project.text}
