:root {
	--border-radius: 1rem;
	--color-background: #242424;
	--color-background-darker: #121212;
	--color-background-lighter: #353535;
	--color-primary: #634677;
	--content-padding: 1.5rem;
	--min-content-width: 300px;
	--max-content-width: 640px;
}

/*
Background container
*/

body, html {
	background-color: var(--color-background);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	min-width: var(--min-content-width);
}

body {
	border-color: var(--color-primary);
	border-style: solid;
	border-width: 5px 0 4px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
}

/*
Typography sizes
*/

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 3.0rem;
}

h2, h2 a {
	font-size: 2.3rem;
}

h3 {
	font-size: 2.1rem;
}

h4 {
	font-size: 1.9rem;
}

h5 {
	font-size: 1.7rem;
}

h6, a, p, li {
	font-size: 1.5rem;
}

figcaption a {
	font-size: 1rem;
}

/*
Content container
*/

main {
	flex-grow: 1;
	margin: 0 auto;
	max-width: var(--max-content-width);
	padding: var(--content-padding);
}

/*
Header from content separation
*/

hr {
	background-color: var(--color-background-lighter);
	border: none;
	height: 2px;
	margin: var(--content-padding) 0;
}

/*
Lists
*/

ul li {
	list-style-type: circle;
}

/*
Links
*/

a {
	text-decoration: underline;
	text-decoration-color: var(--color-primary);
	text-decoration-thickness: 3px;
}

a:hover {
	filter: brightness(1.25);
}

/*
Figure images should always be 16:9 ratio regardless of screen size
This code was adapted from https://css-tricks.com/aspect-ratio-boxes/
*/

figure {
	/* Some browsers add margins to figure elements by default which is undesirable */
	margin: var(--content-padding) 0;
}

figure .aspect-ratio-box {
	height: 0;
	padding-top: calc((9 / 16) * 100%);
	position: relative;
}

figure .aspect-ratio-box.square {
	padding-top: 100%;
}

figure .aspect-ratio-box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
Figure images alt text should have breathing room and (on some browsers) be vertically centered
*/

figure .aspect-ratio-box img {
	display: flex;
	align-items: center;
}

figure .aspect-ratio-box img::before {
	padding: var(--content-padding);
}

/*
Figure captions should have a little bit of breathing room
*/

figcaption {
	padding: calc(var(--content-padding) / 2) var(--content-padding);
}

/*
Figure images and captions should differentiate themselves from the background each other
*/

figure .aspect-ratio-box img {
	background-color: var(--color-background-lighter);
}

figure .aspect-ratio-box.square img {
	background-color: transparent;
}

figcaption {
	background-color: var(--color-background-darker);
}

/*
Figure images and captions should be rounded to ease transitions
*/

figure .aspect-ratio-box img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

figure.no-caption img, figcaption {
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

/*
De-emphasizing content
*/

a, body {
	color: #dddddd;
}

small {
	color: #aaaaaa;
	display: block;
}
