<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="description" content="Personal projects and interests">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>
		MobiusK
		{{ with .Params.Title }} - {{ . }} {{ end }}
	</title>

	<link rel="shortcut icon" href="/favicon.ico">

	{{ $scss := resources.Get "index.scss" }}
	{{ $style := $scss | toCSS $.Site.Params.scss }}
	{{ if $.Site.Params.fingerprint.enabled }}
		{{ $style = $style | fingerprint $.Site.Params.fingerprint.algorithm }}
	{{ end }}

	<link rel="stylesheet" href="{{ $style.RelPermalink }}">

	{{ $ts := resources.Get "service-worker.ts" }}
	{{ $transpiled := $ts | babel }}
	{{ $script := $transpiled | js.Build $.Site.Params.ts }}
	<!-- Service worker cleanup: {{ $script.RelPermalink}} -->

</head>

<body>
<div class="container">

	<h1>
		MobiusK
	</h1>

	<h2>
		<a href="mailto:mail@mobiusk.com">
			mail@mobiusk.com
		</a>
	</h2>

	<h3>
		<a href="https://git.mobiusk.com">
			git.mobiusk.com
		</a>
	</h3>

	<hr>

	{{ block "main" . }}{{ end }}

</div>
</body>

</html>
