doctype html

html(lang="en")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=1")
    meta(name="description", content="Personal project list and light résumé")

    title MobiusK

    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/index.css")

  body
    .container
      .center-text
        h1 MobiusK
        h2 Web Developer
        h3
          a(href="mailto:mail@mobiusk.com") mail@mobiusk.com
        h3
          a(href="https://gitlab.com/mobiusk") gitlab.com/mobiusk

      hr

      block content
