(static) {
	file_server
	templates
}

:8080 {
	# Network compression
	encode zstd gzip

	# Security headers
	header {
		Content-Security-Policy "default-src 'self' cdn.m0b1.dev;"
		Permissions-Policy interest-cohort=()
		Referrer-Policy no-referrer-when-downgrade
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}

	# Redirects to external sites
	redir /bluesky https://bsky.app/profile/m0b1.dev
	redir /discord https://discordapp.com/users/143888967253622784
	redir /vrchat https://vrchat.com/home/user/usr_9da6843d-5203-474b-be08-d723ade92e19

	# Redirects for Git projects
	route /git* {
		uri strip_prefix /git
		redir https://github.com/m0b1d3v{uri}
	}

	# File serving
	root * /srv
	try_files {path} {path}.html {path}/index.html
	import static

	# Invalid requests
	handle_errors {
		rewrite * /404.html
		import static
	}
}
