extends ../templates/layout

block content

  -
    const projects = {
      "BlueTooth class": {
        links: {
          Site: "https://bluetooth-class.mobiusk.com",
          Source: "https://gitlab.com/mobius_k/bluetooth-class",
          Development: "https://www.youtube.com/watch?v=2MfZpgUkpc0",
        },
        description: `
          Helps build class codes for the BlueTooth <a href="https://linux.die.net/man/1/hcitool">hcitool</a>.
          Iterates on previous translation work with nested keys and separate translation files,
          while refreshing on boolean algebra knowledge.
        `,
      },
      "Twitch Time-Lapse": {
        links: {
          Source: "https://gitlab.com/mobius_k/twitch-time-lapse",
          Development: "https://www.youtube.com/watch?v=gIZdjHlwOkA"
        },
        description: `
          Joins together previous live-streams into a recap video.
          Command-line tool written in <a href="https://golang.org">Golang</a>
          leveraging <a href="https://ytdl-org.github.io/youtube-dl">youtube-dl</a>
          and <a href="https://www.ffmpeg.org">ffmpeg</a>.
        `,
      },
      Portfolio: {
        links: {
          Source: "https://gitlab.com/mobius_k/portfolio",
          Development: "https://www.youtube.com/watch?v=y5o8AvKySdE"
        },
        description: `
          The website that you're reading right now!
          Made with <a href="https://gulpjs.com/">Gulp</a>, <a href="https://milligram.io/">Milligram</a>,
          and <a href="https://pugjs.org">Pug</a>.
        `
      },
      Pomodoro: {
        links: {
          Site: "https://pomodoro.mobiusk.com",
          Source: "https://gitlab.com/mobius_k/pomodoro",
          Development: "https://www.youtube.com/watch?v=tBavGJO-fto"
        },
        description: `
          Work interval manager utilizing timed periods of effort and rest.
          Learning about <a href="https://materializecss.com">Materialize CSS</a>
          and <a href="https://pugjs.org">Pug</a>. Implemented a custom translation system in vanilla JavaScript.
        `
      }
    }

  each project, title in projects
    h4 #{title}
    .indent
      .row
        each link, text in project.links
          .column
            a.button.button-outline(href=link) #{text}
      p !{project.description}
