extends ../templates/layout

block content

  h4
    a(href="https://gitlab.com/mobius_k/twitch-time-lapse") Twitch Time-Lapse
  p.indent.
    Joins together previous live-streams into a recap like #[a(href="https://www.youtube.com/watch?v=gIZdjHlwOkA") this].
    Command-line tool written in #[a(href="https://golang.org") Golang]
    leveraging #[a(href="https://ytdl-org.github.io/youtube-dl") youtube-dl]
    and #[a(href="https://www.ffmpeg.org") ffmpeg].


  h4
    a(href="https://gitlab.com/mobius_k/portfolio") Portfolio
  p.indent.
    The website that you're reading right now!
    Made with #[a(href="https://gulpjs.com/") Gulp], #[a(href="https://milligram.io/") Milligram], and #[a(href="https://pugjs.org") Pug].

  h4
    a(href="https://pomodoro.mobiusk.com") Pomodoro
  p.indent.
    Work interval manager utilizing timed periods of effort and rest.
    Learning about #[a(href="https://materializecss.com") Materialize CSS] and #[a(href="https://pugjs.org") Pug].
    Implemented a custom translation system in vanilla JavaScript.
