extends ../templates/layout

block content

  h4
    a(href="https://gitlab.com/mobius_k/twitch-splicer") Twitch Splicer
  p.indent.
    Joins together previous livestream broadcasts into a sped up "recap" video.
    Good for showing progress over a long time on projects like websites or artwork.

  h4
    a(href="https://pomodoro.mobiusk.com") Pomodoro
  p.indent.
    Work interval manager utilizing timed periods of effort and rest.
    (Re)learning vanilla JavaScript, Materialize CSS, and custom translation system.
