---
pagination:
  alias: album
  data: photos.albums
  size: 1
permalink: "photos/{{ album.title | slugify }}/"
---

{% comment %}
The album and tag paginated generations do not use the main layout template file.
They have their own layout to facilitate OpenGraph meta tags.
That is why <head> is split into its own include here.
{% endcomment %}

<!DOCTYPE html>
<html lang="en">

	{%- for photo in album.photos -%}
		{%- if forloop.first == true or photo[1][0] == '^' -%}
			{%- assign thumbnail = photo[0] -%}
		{%- endif -%}
	{%- endfor -%}

	{%- assign folder = album.title | slugify %}
	{%- assign thumbnail = "https://cdn.m0b1.dev/vrc/" | concat: folder | concat: '/' | concat: thumbnail -%}
	{% render "head", title: page.url, ogTitle: album.title, thumbnail: thumbnail %}

	<body>
		<main>

			<h1>
				<a href="/photos" title="Return">&lArr;</a>
				Album
			</h1>

			<hr>

			<h2>
				{{ album.title }}
			</h2>

			{%- for photo in album.photos -%}

				{%- assign altText = album.title | concat: ': ' | concat: photo[0] -%}

				{%- render "image",
					index: forloop.index,
					folder: album.title,
					file: photo[0],
					altText: altText
				-%}

			{%- endfor -%}

		</main>
	</body>

</html>
