extends /portfolio/html/templates/error

block message
	| Something went wrong with this website.
	| An alert has likely been sent to me, but an email is the fastest way to get bugs fixed and is greatly appreciated.
