---
description: Portfolio
thumbnail: /favicon.png
title: m0b1.dev
---

<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="description" content="m0b1.dev | {{ description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{{ title }}
		</title>

		<link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
		<link rel="manifest" href="/site.webmanifest">

		<link rel="stylesheet" href="/portfolio.css?cacheBust=v4">

		<meta property="og:type" content="website">
		<meta property="og:url" content="https://m0b1.dev">
		<meta property="og:site_name" content="m0b1.dev">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:image" content="{{ thumbnail }}?class=thumbnail">

	</head>

	<body>
		<main>
			{{ content }}
		</main>
	</body>

</html>
