doctype html

html(lang="en")

	head

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=1")
		meta(name="description", content="Personal project list")

		title MobiusK

		link(rel="shortcut icon", href="favicon.ico")
		link(rel="stylesheet", href="portfolio.css")

	body
		.container

			h1 MobiusK
			h2
				a(href="mailto:mail@mobiusk.com") Email
				span &middot;
				a(href="https://git.mobiusk.com") Code

			hr

			block content
