doctype html

html(lang="en")

	head

		meta(charset="utf-8")
		meta(name="description", content="Personal project list")
		meta(name="theme-color", content="#242424")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=1")

		//- iOS tags since they don't support web app manifests
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="apple-mobile-web-app-title", content="MobiusK Portfolio")
		link(rel="apple-touch-icon", href="icon.png")

		title MobiusK

		link(rel="shortcut icon", href="icon.png")
		link(rel="stylesheet", href="portfolio.css")
		link(rel="manifest", href="manifest.json")

	body
		.container

			h1 MobiusK
			h2
				a(href="mailto:mail@mobiusk.com") Email
				span &middot;
				a(href="https://git.mobiusk.com") Code

			hr

			block content

	script(src="portfolio.js")
