h1 {
	font-size: 4.0rem;
}

h2 {
	font-size: 3.0rem;
}

h3 {
	font-size: 2.2rem;
}

// H4's are our project headers and need less content separation
h4 {
	font-size: 2.0rem;
	margin-bottom: 10px;
}

h5 {
	font-size: 1.8rem;
}

h6 {
	font-size: 1.4rem;
}

// Utility class for adding an indent to given element
.indent {
	margin-left: 1.5rem;
}

// Utility class to center text in given element
.center-text {
	text-align: center;
}
