// Lighten links just a bit from the primary color for dark background contrast
// Primary green color supplied by Lish in profile picture art
$color-primary: #538154;
$link: lighten($color-primary, 15%);
$link-hover: lighten($color-primary, 25%);

// Font selection
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$family-sans-serif: "Roboto", sans-serif !default;

// Framework displays scrollbar by default, so reset that
$body-overflow-y: "auto";

// CSS framework
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";
@import "../../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../../node_modules/bulma/sass/utilities/mixins";
@import "../../../node_modules/bulma/sass/utilities/controls";
@import "../../../node_modules/bulma/sass/base/minireset";
@import "../../../node_modules/bulma/sass/base/generic";
@import "../../../node_modules/bulma/sass/base/helpers";
@import "../../../node_modules/bulma/sass/elements/container";
@import "../../../node_modules/bulma/sass/components/level";

// Typography sizing

h1 {
	font-size: $size-1;
}

h2 {
	font-size: $size-2;
}

p {
	& a {
		font-size: $size-4;
	}
	& span {
		font-size: $size-5;
	}
}

// Place a border (padded from any content) at the top and bottom of the darkened viewport
body {
	background-color: $black-ter;
	border-color: $color-primary; // $black-bis;
	border-style: solid;
	border-width: 5px 0 4px;
	min-height: 100vh;
}

// Give content some breathing room (a little less for phones)
.container {
	padding: 1.5rem 3rem;
	@media screen and (max-width: $tablet) {
		padding: 1.5rem;
	}
}

// Invert our black background color for readable text
h1, p {
	color: findColorInvert($black-bis);
}

// Set our horizontal rules apart from the blackened background a bit
hr {
	background-color: lighten($black-ter, 5%);
}

// Give text paragraphs breathing room
p {
	margin-bottom: 1rem;
}

// Indent project descriptions a tiny bit from their titles
span {
	margin: 0 .5rem;
}
