// Important note: This stylesheet used to cobble together styles from the Bulma CSS framework
// Great project, but overkill for what I needed/wanted in this extremely low-tech site
// https://bulma.io/

// Variables
// Primary green color supplied by Lish in profile picture art
// Ensure that changes in color get propagated to manifest.json options and layout.pug meta attributes

$colorBackground: #242424;
$colorPrimary: #538154;
$maxContentWidth: 900px;

// Background container

body, html {
	background-color: $colorBackground;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	min-width: 300px;
}

body {
	border-color: $colorPrimary;
	border-style: solid;
	border-width: 5px 0 4px;
	color: #dddddd;
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
}

// Typography sizes

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 2.3rem;
}

h4 {
	font-size: 2rem;
}

p, ol {
	font-size: 1.25rem;
}

// Content container

.container {
	flex-grow: 1;
	margin: 0 auto;
	padding: 1.5rem;
	@media screen and (min-width: $maxContentWidth) {
		max-width: $maxContentWidth - 64px;
	}
}

// Text alignment

h1, h2, h3, h4, h5, h6, .center {
	text-align: center;
}

// Header from content separation

hr {
	background-color: lighten($colorBackground, 5%);
	border: none;
	height: 2px;
	margin: 1.5rem 0;
}

// Images should not expand beyond their containers

figure {
	margin: 0;
}

img {
	box-shadow: 0 7px 28px 10px rgba(200, 200, 200, 0.05);
	max-width: 100%;
}

// Coloring links while removing underlines

a {
	color: lighten($colorPrimary, 15%);
	text-decoration: none;
	&:hover {
		color: lighten($colorPrimary, 25%);
	}
}

// Indent link descriptions a tiny bit

#home p a {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}
